<a href="https://colab.research.google.com/github/W-Srikongpan/DPDM2023/blob/main/chapter2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Chapter 2

18 july 2023

padas is a python package for manage table data. pandas data structure for table is DataFrame (df)

In [44]:
import pandas #we use import to pandas define a package that we are using
import pandas as pd #import package and name it as ...

csv => comma separated values
- use comma (,) to separate valuse
- use new line (enter,\n) to separate data point

In [45]:
data_df = pd.read_csv('/content/Data (1).csv')
data_df

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

##data structure

###list
- list is a container to keep everything
- it give atte

In [ ]:
list_a = [1,2,3,0.9,'aaz', data_df]
list_a

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugeot   1993     500         3]

**Indexing** => to choose the value that you want to get. index start from ()

In [ ]:
list_a[0]

1

In [ ]:
list_a[5]

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

**Negative** index => get data from the last one

In [ ]:
list_b = ['pizza', list_a,9]
list_b

['pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugeot   1993     500         3],
 9]

In [ ]:
# list_b[1][3]
list_b[1][3]

0.9

## String is a list of charactors

In [ ]:
x = 'shabu'
x[-2]

'b'

In [ ]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3]
['pizza', [1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3], 9]

In [ ]:
list_a + list_b

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugeot   1993     500         3,
 'pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugeot   1993     500         3],
 9]

## creating a list
1. create and empty list
2. add member to the list
3. then you can indexing the list

1. Create and empty list

In [ ]:
list_aa = []
list_aa

[]

In [ ]:
list_bb = list()
print(list_bb)

[]

2. add member to the list (.append())

In [ ]:
list_aa.append('chicken')
list_aa.append('water')
list_aa.append('vegetable')
list_aa

['chicken', 'water', 'vegetable']

In [ ]:
list_aa.append('rice')
list_aa

['chicken', 'water', 'vegetable', 'rice']

In [ ]:
list_aa[-1] ##indexing

'rice'

In [ ]:
list_aa[2]

'vegetable'

In [ ]:
list_aa.append('plate')
list_aa[-2]

'rice'

###list slicing

we cut part of the list using : (colon)

list name [start : end : step]

In [ ]:
list_aa.append('spoon')
list_aa.append('fork')
list_aa.append('knife')

In [ ]:
list_aa.append('apple')

In [ ]:
list_aa

['chicken',
 'water',
 'vegetable',
 'rice',
 'plate',
 'spoon',
 'fork',
 'knife',
 'apple']

In [ ]:
list_aa[2:7:1]

['vegetable', 'rice', 'plate', 'spoon', 'fork']

In [ ]:
list_aa[2:7] #same list_aa[2:7:1]

['vegetable', 'rice', 'plate', 'spoon', 'fork']

In [ ]:
list_aa[2:] #start 2 to the end

['vegetable', 'rice', 'plate', 'spoon', 'fork', 'knife', 'apple']

In [ ]:
list_aa[:5] #start to 5

['chicken', 'water', 'vegetable', 'rice', 'plate']

In [ ]:
list_aa[:5:2] #start to 5 but jump 2 step

['chicken', 'vegetable', 'plate']

In [ ]:
list_aa[::-1]

['apple',
 'knife',
 'fork',
 'spoon',
 'plate',
 'rice',
 'vegetable',
 'water',
 'chicken']

##Quiz 1
cut the following part list_aa

1. 'iken'
2. 'get'
3. 'tab'

In [ ]:
list_aa[0][2:]

'tab'

In [ ]:
list_aa[2][2:5]

'get'

In [ ]:
list_aa[2][4:7]

'tab'

##Looping

to make the code to repetitive work

[indent]
    
``` python

    for each_member_of_the_list in the_list_we_want_to_loop :
        do something
        do another thing

this is outside the loop

In [ ]:
for each in list_aa :
    print(each)

chicken
water
vegetable
rice
plate
spoon
fork
knife
apple

In [ ]:
for i in [1,2,3] :
    print(i,end='')
    print('xx')

1xx
2xx
3xx

In [ ]:
for i in list_aa:
    print(f'now i is {i}')
    print(f'I like to eat {i} \n/////////////')

now i is chicken
I like to eat chicken
/////////////
now i is water
I like to eat water
/////////////
now i is vegetable
I like to eat vegetable
/////////////
now i is rice
I like to eat rice
/////////////
now i is plate
I like to eat plate
/////////////
now i is spoon
I like to eat spoon
/////////////
now i is fork
I like to eat fork
/////////////
now i is knife
I like to eat knife
/////////////
now i is apple
I like to eat apple
/////////////

In [ ]:
list(range(10)) #runing 10 number start 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(10,20,2)) #runing from 10 to 20 but jump 2 step

[10, 12, 14, 16, 18]

In [ ]:
for i in range(100):
    print(f'Ha{i}',end='')

Ha0Ha1Ha2Ha3Ha4Ha5Ha6Ha7Ha8Ha9Ha10Ha11Ha12Ha13Ha14Ha15Ha16Ha17Ha18Ha19Ha20Ha21Ha22Ha23Ha24Ha25Ha26Ha27Ha28Ha29Ha30Ha31Ha32Ha33Ha34Ha35Ha36Ha37Ha38Ha39Ha40Ha41Ha42Ha43Ha44Ha45Ha46Ha47Ha48Ha49Ha50Ha51Ha52Ha53Ha54Ha55Ha56Ha57Ha58Ha59Ha60Ha61Ha62Ha63Ha64Ha65Ha66Ha67Ha68Ha69Ha70Ha71Ha72Ha73Ha74Ha75Ha76Ha77Ha78Ha79Ha80Ha81Ha82Ha83Ha84Ha85Ha86Ha87Ha88Ha89Ha90Ha91Ha92Ha93Ha94Ha95Ha96Ha97Ha98Ha99

##Nested loop

loop in loop

In [46]:
for i in range(3):
    print(f'i = {i}')
    for j in range(2):
      print(f'i = {i}, j = {j}, i+j = {i+j}')

i = 0
i = 0, j = 0, i+j = 0
i = 0, j = 1, i+j = 1
i = 1
i = 1, j = 0, i+j = 1
i = 1, j = 1, i+j = 2
i = 2
i = 2, j = 0, i+j = 2
i = 2, j = 1, i+j = 3

In [47]:
for i in range(3):
    print(f'i = {i} (outer loop)')
    for j in range(2):
      print(f'i = {i}, j = {j}, i+j = {i+j} (inner loop)')

i = 0 (outer loop)
i = 0, j = 0, i+j = 0 (inner loop)
i = 0, j = 1, i+j = 1 (inner loop)
i = 1 (outer loop)
i = 1, j = 0, i+j = 1 (inner loop)
i = 1, j = 1, i+j = 2 (inner loop)
i = 2 (outer loop)
i = 2, j = 0, i+j = 2 (inner loop)
i = 2, j = 1, i+j = 3 (inner loop)

**Example 1**

create a list [[1],[1,1], [1,1,1],...,[1,1,1,1,1,1,1,1,1,1] with for loop

In [48]:
list_A = []
for i in range(10): #make i => number list 10 times
  AA = []
  for j in range(i+1):
      A=1
      AA.append(A)
  list_A.append(AA)

In [49]:
list_A

[[1],
 [1, 1],
 [1, 1, 1],
 [1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

Answer

In [52]:
list_ans = []
print(f'list_ans = {list_ans}')
for i in range(1, 11):
    temp = []
    #print(f'temp = {temp}')
    for j in range(i):
        temp.append(1)    #append 1 in temp
    print(f'i = {i} j= {j} : temp = {temp}')
    list_ans.append(temp)
    print(f'list_ans = {list_ans} \n ------------')

print(list_ans)

list_ans = []
i = 1 j= 0 : temp = [1]
list_ans = [[1]]
 ------------
i = 2 j= 1 : temp = [1, 1]
list_ans = [[1], [1, 1]]
 ------------
i = 3 j= 2 : temp = [1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1]]
 ------------
i = 4 j= 3 : temp = [1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1]]
 ------------
i = 5 j= 4 : temp = [1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]
 ------------
i = 6 j= 5 : temp = [1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]]
 ------------
i = 7 j= 6 : temp = [1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]]
 ------------
i = 8 j= 7 : temp = [1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]
 ------------
i = 9 j= 8 : temp = [1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1]]
 ------------
i = 10 j= 9 : temp = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]
 ------------
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

##Quize 2

create a list [[a],[a,b], [a,b,c],...,[a,b,c,d,e,f,g,h,i,j] with for loop

In [85]:
q2 = [ ]
str_q = ['a','b','c','d','e','f','g','h','i','j']
for i in range (1,11) :
   q2.append(str_q[:i])
q2

[['a'],
 ['a', 'b'],
 ['a', 'b', 'c'],
 ['a', 'b', 'c', 'd'],
 ['a', 'b', 'c', 'd', 'e'],
 ['a', 'b', 'c', 'd', 'e', 'f'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']]

In [90]:
q2_1 = [ ]
str_q = ['a','b','c','d','e','f','g','h','i','j']
for i in range (1,11) :
    qq = []
    for j in range (i+1) :
        q2_1.append(str_q[:j])

##Conditional Statement (if statement)

if condition (with these symbols: ==, !=, <, >, <, >=, in, is_null(), and, or, &, |) :

Do this when the condition is True #1

Do this when the condition is True #2

In [92]:
if 1 < 5 :
    print('yes')

yes

**Conditional Statement (if statement)**

if condition1 (with these symbols: ==, !=, <, >, <=, >=, in, is_null(), and, or, &, |)

Do this when the condition is True #1

Do this when the condition is True #2

elif condition2:

Do this when condition 1 is False and codition 2 is True #1

Do this when condition 1 is False and codition 2 is True #2

elif condition3:

Do this when condition 1 and 2 is False and codition 3 is True #1

else: # if all above conditions are False
Do this when all conditions are False

In [93]:
x = 12

if x<5:
   print('yes')
else:
   print('no')

no

***Example***

find the smallest number in list_ex without using min() fucntion (you can use only for and if)

In [95]:
list_ex = [1,5,9,-19,-2,0]
minimum = list_ex[0]
for number in list_ex:
    if minimum > number:
       minimum = number
print(minimum)

-19

Answer

In [98]:
min = 100000000
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
    print('start condition')
    if i < min:
        print(f'i < min, update min -> {i}')
        min = i
    else:
        print('i >= min, not update')
    print('end condition, go to next i \n -------------')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 100000000
start condition
i < min, update min -> 1
end condition, go to next i
 -------------
now i = 5, min = 1
start condition
i >= min, not update
end condition, go to next i
 -------------
now i = 9, min = 1
start condition
i >= min, not update
end condition, go to next i
 -------------
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
 -------------
now i = -2, min = -19
start condition
i >= min, not update
end condition, go to next i
 -------------
now i = 0, min = -19
start condition
i >= min, not update
end condition, go to next i
 -------------
-19

##Quize 3

list_ex = [1,5,9,-19,-2,0]

find the maximum number in ```list_ex``` without using max() fucntion (you can use only for and if)

In [100]:
maximum = list_ex[0]
for number in list_ex:
    if maximum < number:
       maximum = number
print(maximum)

9

##HW 1

 sort the number in ```list_ex``` without using sorting function (you can use only for and if)

submit before 8 Aug

***Python infinity***

Representing infinity as an Integer in python

1. Using float(‘inf’) and float(‘-inf’):

In [101]:
float('inf')

inf

In [102]:
float('-inf')

-inf

2. using Python’s math module:

In [103]:
import math

In [104]:
math.inf

inf

In [105]:
-math.inf

-inf

##Function

``` python
def function_name (input1,input2,...):
    process #1
    process #2
    return(output)
```

***Four importanat part of a function***

- fuction name (needed)
- input
- process (needed)
- output

**Example**

In [107]:
def find_min(list_ex):
    min = 100000000
    for x in list_ex:
        if x < min:
            min = x

    return min

In [108]:
list_A = [1,5,9,-19,-2,0]
XXX = find_min(list_A)
print(XXX)

-19

In [109]:
find_min([-9,99,0,-34])

-34

**Example 2**

Function without Output

- cannot st a value to output

In [110]:
def find_min2(list_ex): ##no return
    min = 100000000
    for x in list_ex:
        if x < min:
            min = x
    print(min)

In [111]:
find_min2(list_A)

-19

In [112]:
YYY  = find_min2(list_A)

-19

In [113]:
YYY

***Example 3***

Function without Input

In [114]:
def Pi_val():
    return 3.1416

In [116]:
r = 10
print(f'พื้นที่วงกลมที่มีเส้นผ่านศูนย์กลางเท่ากับ {r} คือ {Pi_val()*r*r}')

พื้นที่วงกลมที่มีเส้นผ่านศูนย์กลางเท่ากับ 10 คือ 314.16

***Example 4***

Function that has only Process

In [117]:
def draw_rectangle():
    print('======')
    print('|    |')
    print('======')

In [118]:
draw_rectangle()

======
|    |
======

In [119]:
def draw_hello():
    print('============')
    print('|  Hello  |')
    print('============')

In [120]:
draw_hello()

============
|  Hello  |
============

Function without a Process means error

In [121]:
def draw_rectangle():

SyntaxError: ignored

##type of input(paremeter or argument)

- non-default argument : you need to give an input this argument

- default argument : you can ignore it because it has a defaule value

In [122]:
def draw_rectangle(dbbound=True): ## this is an example of a default argument :
    if dbbound:
        print('========')
        print('||    ||')
        print('========')
    else:
        print('________')
        print('|      |')
        print('--------')

In [124]:
draw_rectangle()

========
||    ||
========

In [125]:
draw_rectangle(True)

========
||    ||
========

In [126]:
draw_rectangle(False)

________
|      |
--------

when we call a function that require non-default argument without input,it will return error

In [127]:
find_min2()

TypeError: ignored

when you define a function, you have to put non-default argument first

In [128]:
def draw_rectangle(size,dbbound=True): ## size is input non-default argument
    if dbbound:
        up = '='
        space = ' '
        print(f'{(size+4)*up}')
        print(f'||{size*space}||')
        print(f'{(size+4)*up}')
    else:
        up = '-'
        space = ' '
        print(f'{(size+4)*up}')
        print(f'|{size*space}|')
        print(f'{(size+4)*up}')

In [129]:
draw_rectangle() #error

TypeError: ignored

In [131]:
draw_rectangle(20,False)

------------------------
|                    |
------------------------

you dont have to follow the order of the arguments if you speactify what argument are what

In [132]:
draw_rectangle(dbbound=False,size=7)

-----------
|       |
-----------

In [133]:
draw_rectangle(size=7)

===========
||       ||
===========

***Example***

create a fuction that :

- draw a recta

##HW 2
create a fuction that

1. sort a list
2. can specify to the fuction that sort it ascendeing or descending with the ascending as default
3. have 2 argument2 one default and non-default