<a href="https://colab.research.google.com/github/W-Srikongpan/DPDM2023/blob/main/class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String mainpulation and Print statement

In [ ]:
for i in ['a','b','c']:
  print(i,end = ' ')
  print('/')
  for j in range(10):
    ccc = 10

a /
b /
c /

# String (Text)

In [ ]:
text1 = "stat" #use " " to make text

In [ ]:
text2 = 'KKU' #use ' ' to make text

In [ ]:
print(text1) #print text

stat

In [ ]:
print(text1 + text2) #sum text1 and text2

statKKU

In [ ]:
print(text1 + 5) #if sum text and number. So it error because it dont know 5 is int or str

TypeError: ignored

In [ ]:
print(5 + text1) #if sum number and text. So it error because it cant to sum int and str

# Variable

In [ ]:
a = 5 #int
print(a)

5

In [ ]:
b = 5.7 #float
print(b)

5.7

In [ ]:
c = a - b #let a = 5 and b = 5.7, So we can calculate c from a - b
print(c)

-0.7000000000000002

## variable naming rules

1. try to use meaningful word
2. do it in English
3. you can use number in variable name but the name cannot start with number
4. there should be no space in the name
5. variable name is case-sensitive (Abc is not equal ABC)

# Advanced printing

In [ ]:
print(f'six plus five = {6+5}') #we can print text with number by {}

six plus five = 11

In [ ]:
print(f'six plus five = {6+5:.2f} %') #write " :.2f " is mean 2 decimal places

six plus five = 11.00 %

In [ ]:
print(f'six plus five = {6+5:03d}') # write " :03d " is mean 3 digits

six plus five = 011

In [ ]:
st1 = f'six plus five = {6+5:03d}'

In [ ]:
st1 #it mean print st1

'six plus five = 011'

#Print

In [1]:
print('stat')

stat

In [2]:
print('stat','KKU')

stat KKU

## Seperator

In [3]:
print('stat','KKU', sep='/')

stat/KKU

##End

In [4]:
print('stat')
print('KKU')

stat
KKU

In [5]:
print('stat',end = '+-+')
print('KKU')

stat+-+KKU

#Variable types

##char(acter)

In [6]:
a = 'c'

In [7]:
b = 'haracter'

###string + string mean concatenation

In [8]:
print(f'a={a} b={b}, then {a}+{b} = {a+b}') #string + string mean concatenation

a=c b=haracter, then c+haracter = character

### ```integer * char```
-> mean multiple copies of the char

In [9]:
print(5*'T')

TTTTT

##Int(eger)

In [29]:
int_a = 7
int_b = 2
print(type(int_a),type(int_b))

<class 'int'> <class 'int'>

In [31]:
int_c = int_a + int_b #assign the value as the output of operation
print(int_c)

9

##float

In [33]:
fl_a = 7.
fl_b = 2.571
print(type(fl_a))

<class 'float'>

##Boolean
True or False

In [38]:
b_T = True
b_F = False

```==```equal,```!=```not equal,```>``` greater than,```<=``` less than or equal,```|``` or,```&```and

In [39]:
b_T | b_F

True

### we can check the datatype with type()

In [44]:
x = 1+2j
A = 'c'
print(f'variable x value is {x} and datatype is {type(x)}')
print(f'variable A value {A} and datatype is {type(A)}')

variable x value is (1+2j) and datatype is <class 'complex'>
variable A value c and datatype is <class 'str'>

##Variable Casting

In [45]:
print(f'int_a = {int_a} fl_a = {fl_a}')

int_a = 7 fl_a = 7.0

In [49]:
str_a = '6'
str_b = '-2'
str_a2int = int(str_a) #tranform sting into int
print(f'variable str_a2int value is {str_a2int} and datatype is {type(str_a2int)}')

variable str_a2int value is 6 and datatype is <class 'int'>

In [52]:
str_a2int + int_a

13

In [51]:
str_a + int_a #cant string + int

TypeError: ignored

In [53]:
str(fl_b) #tranform float to string

'2.571'

In [54]:
int(fl_b) #tranform float to int (it will cut he floating point)

2

##Replace

In [55]:
st_test1 = 'Department of Statistics,'

In [57]:
st_test1.replace('e',' ') #repalce e with space

'D partm nt of Statistics,'

In [60]:
st_test2 = st_test1.replace('e',' ')
print(st_test2)
st_test1.replace('e','') #delete e

D partm nt of Statistics,

'Dpartmnt of Statistics,'

In [63]:
st_test1.replace('ti','TI') #modify ti to Ti

'Department of StaTIsTIcs,'

##split()

In [64]:
'a b c d e f g'.split() #cut string at spaces

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [65]:
'abc de fg'.split()

['abc', 'de', 'fg']

In [66]:
'a,b/c,d e,f/ g'.split('/') #split with /

['a,b', 'c,d e,f', ' g']

#Quiz1
print Ha for 100 times with one print fuction.

In [27]:
print(100*'Ha')

HaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHa